@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,700;1,800;1,900&display=swap');
/* 原生引用, 而非使用postcss插件形式 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind直接在html上使用会造成可读性降低, 使用@指令让它变得简洁 */
.card{
    @apply bg-white rounded overflow-hidden shadow-md relative;
}
.badge{
    @apply absolute top-0 bg-secondary-100 text-secondary-200 text-xs uppercase font-bold rounded-full p-1 m-2;
}
.btn{
    @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer bg-gray-200;
}